click==6.7
enum34==1.1.6
etcd3==0.7.0
Flask==0.12.2
flatten-dict==0.0.2
futures==3.2.0
grpcio==1.8.6
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
monotonic==1.4
pkg-resources==0.0.0
protobuf==3.5.1
six==1.11.0
tenacity==4.8.0
Werkzeug==0.14.1
requests==2.18.4
