[Unit]
Description=Local Etcd Gateway Server
After=network.service

[Service]
Type=notify
User={{etcd_user}}
WorkingDirectory={{etcd_data_dir}}/
ExecStart=/bin/bash -c "etcd gateway start --endpoints={{etcd_gateway_nodes}}"
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
