# [member]
ETCD_NAME="{{inventory_hostname}}"
ETCD_DATA_DIR="{{etcd_cluster_data_dir}}"
#ETCD_SNAPSHOT_COUNTER="10000"
#ETCD_HEARTBEAT_INTERVAL="100"
#ETCD_ELECTION_TIMEOUT="1000"
ETCD_LISTEN_CLIENT_URLS="{{etcd_scheme}}://localhost:2379,{{etcd_scheme}}://{{etcd_public_address}}:2379"
ETCD_AUTO_COMPACTION_RETENTION=1 
#ETCD_MAX_SNAPSHOTS="5"
#ETCD_MAX_WALS="5"
#ETCD_CORS=""
#
# [cluster]
ETCD_INITIAL_CLUSTER="{{etcd_cluster}}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="{{etcd_initial_cluster_token}}"
#
#[proxy]
#ETCD_PROXY="on"
#
#[security]
#
#[logging]
#ETCD_DEBUG="true"
# examples for -log-package-levels etcdserver=WARNING,security=DEBUG
#ETCD_LOG_PACKAGE_LEVELS="etcdserver=DEBUG"
