[submodule "src/openmpdk"]
	path = src/openmpdk
	#url = git@github.com:OpenMPDK/KVSSD.git
	#url = https://github.com/OpenMPDK/KVSSD.git
	url = git@MSL-DC-GITLAB.SSI.SAMSUNG.COM:kvssd/opensource.git
	branch = master
