[submodule "src/openmpdk"]
	path = src/openmpdk
	url = git@MSL-DC-GITLAB.SSI.SAMSUNG.COM:kvssd/opensource.git
	branch = master
[submodule "src/logger/log4cpp"]
	path = src/logger/log4cpp
	url = git@MSL-DC-GITLAB.SSI.SAMSUNG.COM:ssd/log4cpp.git
	branch = master
[submodule "src/boost_1_66_0"]
	path = src/boost_1_66_0
	url = git@MSL-DC-GITLAB.SSI.SAMSUNG.COM:ssd/boost_1_66_0.git
	branch = master
