[agent]
# stats protocol supported are "graphite", "statsd"
stats_proto={{ stats_proto }}
# If stats_proto is graphite, then the Graphite server/port should be given
# Otherwise, statsd server/port should be added
# Default graphite port is 2004
# Default statsd port is 8125
stats_port={{ stats_port }}
stats_server={{ stats_ip }}
# Statsd polling interval to poll statistics
# Needs to be same as the statsd flush interval
stats_poll=10
hugepages=8192
nvmf_conf_file=/etc/dragonfly/nvmf.in.conf
nvmf_tgt=/usr/dragonfly/nvmf_tgt
ustat_binary=/usr/dragonfly/ustat

[logging]
console=disabled
console_level=INFO
file=disabled
log_dir=/var/log/nkv-agent/
log_file=agent.log
log_level=DEBUG
syslog=disabled
syslog_facility=local0
syslog_level=DEBUG
size_rotation=enabled
file_size=2000000
file_cnt=10
