[Unit]
Description=Samsung Object Storage KV Client
After=etcd-gateway.service

[Service]
User=root
WorkingDirectory={{ nkv_agent_dir }}/agent
Environment="PYTHONPATH={{ nkv_agent_dir }}:$PYTHONPATH"
KillSignal=SIGINT
KillMode=process
ExecStart={{ nkv_virtualenv_dir }}/bin/python {{ nkv_virtualenv_dir }}/kv-cli.py daemon 127.0.0.1 23790 --stats
Restart=always

[Install]
WantedBy=multi-user.target

