etcd3==0.12.0
Flask==1.1.1
Flask-HTTPAuth==3.2.3
Flask-RESTful==0.3.6
flatten-dict==0.2.0
zmq==0.0.0
configparser==4.0.2
netifaces==0.10.9
gunicorn==20.0.4
pyhaproxy==0.3.7
pytest==5.4.1
requests==2.23.0
# prctl==1.6-1build1
redfish-client==0.2.1
redfish==2.1.5
PyYAML==3.12
jsonpath-ng==1.5.1
pip==20.1.1
