---

- name: Remove FabricManager - CentOS
  import_tasks: ufm_centos.yml
  when: ansible_os_family == 'RedHat'

- name: Remove FabricManager - Ubuntu
  import_tasks: ufm_ubuntu.yml
  when: ansible_distribution == 'Ubuntu'

- name: Stop and disable ufm_etcd
  systemd:
    name: "{{ ufm_etcd_service_file | basename }}"
    state: stopped
    daemon_reload: yes
    enabled: no
  register: stop_service
  failed_when: 
    - stop_service.msg is defined
    - "'Could not find' not in stop_service.msg"
  become: yes

- name: Remove UFM files and directories
  file:
    path: "{{ item }}"
    state: absent
  loop: "{{ ufm_reset_dirs + [ ufm_etcd_service_file ] }}"
  become: yes

- name: List stuck Fabric Manager processes
  shell: "ps aux | grep [f]abricmanager.py | awk '{print $2}'"
  changed_when: false
  register: fm_proc

- name: Kill stuck Fabric Manager processes
  shell: "kill -9 {{ item }}"
  loop: "{{ fm_proc.stdout_lines }}"
  when: fm_proc.stdout_lines
  become: yes
